body{
    text-align: center;
    font-family: Verdana;
    background-color: red;
    color: white;
}
h1{
  color: white;    
  font-weight: bold;
  font-size: 64px;
}
p{
  color: white;    
  font-size: 32px;
}
h2{
  color: white;
  font-size: 17px;
}
.list1{
    color: blue;
    font-size: 18px;
    text-align: left;
  }