body{
    text-align: center;
    font-family: Verdana;
    background-color: lightblue;
    color: white;
    font-size: 32;
}
h1{
  color: white;    
  font-weight: bold;
  font-size: 64px;
}
h2{
  color: white;
  font-size: 17px;
}
#life{
        color: Blue;
        font-style: italic;
}
#geek{
        color: Red;
        font-style: italic;
}
#review{
        color: Green;
        font-style: italic;
}
.audio{
        color: Purple;
        font-style: italic;
}